.login-form {
    background-color: white;
    width: 300px;
    border-radius: 0px 0px 5px 5px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 50%;
    margin-left: 25%;
}